

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    text-decoration: none;
    margin:0;

}

div.encabezado{
    font-family: 'Architects Daughter', "cursive";
    color: #000;
    height: 500px;
    text-shadow:
   -1px -1px 0 #fff;
    display: flex;
   align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
 
    width: auto;
  
    background-color: powderblue;
    background-image: url("recursos/recorte.png");
    background-size:cover;
}
body{
    background-color: #fefefe;
}
div.bienvenidos{
  margin: 0  50px 50px;
    align-self: flex-end;
    font-size: 85px;
    color: #fff;
 
    text-shadow:
   -1px -1px 0 #000;
}


p{
    text-align:right;
   align-items: flex-end;
    margin: 2%;
    font-size: 32px;
}
div.botonera{
    text-align: center;
    padding: 0px 20px;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: auto;
    height: 50px;
    background-color: rgba(0, 100, 0, 0.5);
    

    flex-wrap: wrap;
    
}
div > ul{

    width: 100%;
    height: 100%;
    display: flex;
    /*justify-content:space-around;*/
 
    

}
div > ul > li{
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-color: black;
    text-transform: uppercase;
    
}
div > ul > li > a{
    font-family: 'Architects Daughter', "cursive";
    width: 100%;
    display: flex;
    color: black;
    opacity: 1,5;
    z-index: 12;
 

    /*position: absolute;

  left:50%;
    top:50%;*/
   justify-content: center;
    align-items: center;
    text-align: right; 
    transition: all 300ms ease;
    padding: 0px 14px;
}
div > ul > li> a:hover{
    font-family: 'Architects Daughter', "cursive";
    transform: scale(1.8);
    color:white;
    background-color: darkgreen;
    text-align: center;

    align-items: reverse;
}
div.cuerpo{

    width: 90%;
    justify-content: space-around;
    align-items: center;
    height: auto;
 margin: 20px 20px;
 display: flex;
 
}
img.hola{
    width: 50%;

}
div.derecha{
 
    display: flex;
    width: 300Px;
    height: 300px;
    background-color: blue;
    background-image: url("recursos/logo.jpg");
    background-size: cover;
    background-position: center;
}
div.imagen_cuerpo{
    width: 30%;
    height: 100px;
    border:solid black;
}
div.mision{
    padding:10px;
    font-family: 'Architects Daughter', "cursive";
   border-bottom-left-radius: 20%;
   background-color: rgba(182, 243, 182, 0.767);
    border: solid green;
    padding: 1%;
   
    width: 40%;
    height: auto;
    text-align: center;
    
}
.paracarru{
    margin-top: 40px;
    padding: 40px;
    width: 100%;

    display: flex;
    justify-content: center;
}
.carrusel{
 
    align-self: center;
    margin: 20px;
    width: 50%;
    height: 500px;
    background-color: white;
    border: solid black;


}
 footer {

    display:flex;
    align-items: space-between;

}
div.txtContacto{
    margin: 0.5%;
    font-family: 'Architects Daughter', "cursive";
    align-self: flex-end;
    text-align: right;
    /*flex-direction: column;*/
    height: 200px;
    width: 100%;
    background-color: white;
    opacity: 0.5;
}
/*.otro{
    width: 50%;
    height: 300px;
border: solid black;

}*/
.final{
   
    width: auto;
    height: auto;
    background-image: url("recursos/fondo pie.png");
    background-repeat: no-repeat;
    background-size: cover;
}