

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    text-decoration: none;
    margin:0;

}

div.encabezado{
    font-family: 'Architects Daughter', "cursive";
    color: #000;
    height: 500px;
    text-shadow:
   -1px -1px 0 #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
 
    width: auto;
  
    background-color: powderblue;
    background-image: url("recursos/recorte.png");
    background-size: cover;
}
div.encabezado.distinto{
    height: 100px;
  
}
body{
    background-color: #fefefe;
}
div.bienvenidos{
  margin: 0  50px 50px;
    align-self: flex-end;
    font-size: 85px;
    color: #fff;
 
    text-shadow:
   -1px -1px 0 #000;
}


p{
    text-align:right;
   align-items: flex-end;
    margin: 2%;
    font-size: 32px;
}
div.botonera{
    text-align: center;
    padding: 0px 20px;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: auto;
    height: 50px;
    background-color: rgba(0, 100, 0, 0.5);
    

    flex-wrap: wrap;
    
}
div > ul{

    width: 100%;
    height: 100%;
    display: flex;
    /*justify-content:space-around;*/
 
    

}
div > ul > li{
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-color: black;
    text-transform: uppercase;
    
}
div > ul > li > a{
    font-family: 'Architects Daughter', "cursive";
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    opacity: 1,5;
    z-index: 12;
 

    /*position: absolute;

  left:50%;
    top:50%;*/
   justify-content: center;
    align-items: center;
    text-align: right; 
    transition: all 300ms ease;
    padding: 0px 14px;
}
div > ul > li> a:hover{
    font-family: 'Architects Daughter', "cursive";
    transform: scale(1.8);
    color:white;
    background-color: darkgreen;
    text-align: center;

    align-items: reverse;
}
div.cuerpo{

    width: auto;
    justify-content: space-around;
    align-items: center;
    height: auto;
 margin: 20px 20px;
 display: flex;
 
}
img.hola{
    width: 50%;

}
div.derecha{
 
    display: flex;
    width: 300Px;
    height: 300px;
    background-color: blue;
    background-image: url("recursos/logo.jpg");
    background-size: cover;
    background-position: center;
}
div.imagen_cuerpo{
    width: 30%;
    height: 100px;
    border:solid black;
}
div.mision{
    padding:10px;
    font-family: 'Architects Daughter', "cursive";
   border-radius: 20px;
   background-color: rgba(212, 243, 212, 0.767);
    border: solid green;
    padding: 1%;
   
    width: 40%;
    height: auto;
    text-align: center;
    /*-webkit-text-stroke: 1px rgb(0,0,0);*/
    text-shadow: 0 0 5px white;
    color:green;
}
.paracarru{
    margin-top: 40px;
    padding: 40px;
    width: auto;

    display: flex;
    justify-content: center;
}
.carrusel{
 
    align-self: center;
    margin: 20px;
    width: 50%;
    height: 500px;
    background-color: white;
    border: solid black;
    /*background-image: url("recursos/imagen1.jpg");*/


}
 footer {

    display:flex;
    align-items: space-between;

}
div.txtContacto{
    margin: 0.5%;
    font-family: 'Architects Daughter', "cursive";
    align-self: flex-end;
    text-align: right;
    /*flex-direction: column;*/
    height: 200px;
    width: 100%;
    background-color: rgba(255, 255, 255 , 0.4);

}
/*.otro{
    width: 50%;
    height: 300px;
border: solid black;

}*/
.final{
   
    width: auto;
    height: auto;
    background-image: url("recursos/fondo pie.png");
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    position: relative;
    left: 10%;
    display: flex;
    margin: center;
    flex-direction: column;
    align-items:baseline;
    background-color: burlywood;
    width: 80%;
    margin-top: 40px;
    color:rgba(0, 100, 0, 0.5);
    font-size: 20px;
}
div.delform{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconMenu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;

}
#labelcheck{
    width: 26px;
    height: 100%;
    display: none;
}
#checkMenu{
    display: none;
}
.error{
    border-color:red;
    /*background-color: red;
*/

}
@media screen and (max-device-width:800px) {
    *{font-size: 24px;}
    #labelcheck{
        align-self: center center;
        width: 100%;
        display:flex;
    }
    .iconMenu{
        font-size: 30px;
        background-color: rgba(0, 100, 0, 0.5);
        width: 100%;
        color:white;
        display: flex;
    }
    div.encabezado{
        height: 50vh;
     display: flex;
        align-items:center;
      
    }
    div.bienvenidos{
        margin: 0  50px 50px;
          align-self: center;
          font-size: 130px;
 
    
    }
   
    img.hola{
        display: none;
            }
    div.botonera{
  
    margin: none;
    width: 100%;
    background-color: transparent;
  }
    div.botonera > ul{
    flex-direction: column;
    margin: none;
    background: none;
    }

    div.botonera > ul > li{
        margin: none;
    }
div.cuerpo{
    justify-content: center;
    margin-top: 100px;
    
}
div.mision{
    width: 100%;
}
footer {

    height: auto;
}
div.txtContacto p{
    font-size: 24px;}
    div > ul > li> a{
        background-color: rgba(0, 100, 0, 0.5);
    }
}


@media screen and (max-width: 720px) 

{
    div.encabezado{
        height: 300px;
    }
    img.hola{
        display: none;
            }
  div.botonera{
    background-color: transparent;
  }
    div.botonera > ul{
       flex-direction: column;
    margin: none;
    background: none;
    }
div.cuerpo{
    justify-content: center;
    
}
div.mision{
    width: 100%;
}
footer {
    height: auto;
}
div.txtContacto p{
    font-size: 18px;}
    div > ul > li> a{
        background-color: rgba(0, 100, 0, 0.5);
    }
}